@model IEnumerable<WebPractica4.Entities.ProductosEntidad>

@{
    ViewBag.Title = "ConsultarProductos";
}

<h2>ConsultarProductos</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">

    <table class="table table-bordered table-striped mx-auto">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Compra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Saldo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Compra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Saldo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


